<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name = "TestNg POM automation Suite">

	<listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReporterNG" />
</listeners>

	<test name = "Different CRM Application test">
     <classes>
     	 <class name = "com.crm.qa.testcases.LoginPageTest" />
        <class name = "com.crm.qa.testcases.ContactsPageTest" />
        
       			</classes>
			
		</test>
	</suite>



